// Variables
$header-height: 5rem;

$bg-header: #2E3A46;
$bg-body: #1E2D3B;

// Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

// common
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    $container-margin: auto;
    &-l{
        width: 95%;
        margin: $container-margin;
    }
    &-m{
        max-width: 1600px;
        margin: $container-margin;
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;

        .albCont{
            background-color: $bg-header;
            width: calc(100% / 5);
            padding: 15px;
            text-align: center;
            height: 100%;
            overflow: hidden;

            img{
                width: 100%;
            }
            h2{
                margin: 20px 0;
                text-transform: uppercase;
                color: white;
                font-size: 26px;
            }
            p{
                margin: 2px 0;
                color: lightslategray;
                font-size: 20px;
            }
        }
    }
}

header{
    height: $header-height;
    background-color: $bg-header;
    position: relative;

    .logo{
        height: calc($header-height - 20px);
        margin: 10px 0;
    }
}

main{
    height: calc(100vh - $header-height);
    width: 100%;
    background-color: $bg-body;
}